.AR-div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
}
.AR-div__title {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  border-top: 0.5px solid #e6e6e6;
  color: white;
}
.AR-div__text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: white;
}
.AR-div__recommendations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 20px;
  padding-left: 35px;
}
.AR-div__R {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 36px;
  color: #e6e6e6;
}
.AR-div__R:first-child:before {
  content: '🦾';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(2):before {
  content: '🔨';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(3):before {
  content: '🔐';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(4):before {
  content: '🤯';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(5):before {
  content: '🛂';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(6):before {
  content: '🌐';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(7):before {
  content: '🧑‍💻';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(8):before {
  content: '🚫';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R:nth-child(9):before {
  content: '⬆️';
  margin-left: -35px;
  margin-right: 10px;
}
.AR-div__R span {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}
